@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans:wght@500&display=swap');

.icon-eye-edit {
  color: #42B0FF;
  margin-left: 42%;
  top: -40px;
  position: relative;
}

/* Style Labels */

.page-edit {
  margin: 5vh 5vw 5vh 15vw;
  height: auto;
}

.input-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.input-container div {
  flex: 1;
  margin-right: 10px;
}

form {
  font-size: 20px;
}

.form input, .form textarea, .form select {
  border-radius: 18px !important;
  border: 2.5px solid rgb(215, 215, 215) !important;
  padding: 20px !important;
}

.form-control:focus {
  box-shadow: 0 0 10px 0 #42B0FF !important;
}

select.form-control {
  height: auto !important;
}


.btn btn-primary {
  border-radius: 30px !important;
}

.panel-title {
  font-size: 30px;
  font-family: 'Inter', sans-serif;
  font-family: 'Noto Sans', sans-serif;
  margin-bottom: 50px;
}

.form-group {
  font-family: 'Noto Sans', sans-serif;
}

.save-btn {
  width: 50%;
  background-color: #42B0FF !important;
  border: none !important;
  margin: auto;
}