@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    user-select: none;
}

.page-login {
    background-image: linear-gradient(to right, #37b0e8 50%, #EFFFFD 50%);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container-login {
    width: 50%;
    display: flex;
}

.container-login h1 {
    color: white;
    font-size: 40px;
    font-family: 'Pacifico', sans-serif;
    margin: auto
}

.container-input-login {
    width: 50%;
    display: flex;
}

.page-title-login {
    color: #42B0FF;
    font-size: 1.6rem;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-self: center;
    width: 100%;
}

.login-form-label {
    font-family: 'Poppins';
    font-size: 16px;
    vertical-align: center;
    margin-top: 1vw;
    margin-bottom: 0.5vw;
}

.container-input-login input {
    margin-left: 0;
    padding: 1.0rem;
    display: grid;
    border: 2px solid transparent;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    outline: 0;
    grid-template-columns: 15% 85%;
    width: 100%;
    border: #9a9a9a 1px solid;
}

.container-input-login input:not(:placeholder-shown) {
    border: #9a9a9a 1px solid;
}

.inputWithSpan {
    display: flex;
    flex-direction: row;
}

.icon-eye {
    color: #42B0FF;
    cursor: pointer;
    align-self: center;
    position: relative;
}

.login-input-fields {
    display: flex;
    flex-direction: column;
    width: 15vw;
    align-self: center;
}

.container-input-login .login-sign-in {
    color: #42B0FF;
    cursor: pointer;
    position: relative;
}

.user-icon svg {
    margin-left: 31px;
}

.login-btn {
    height: 12%;
    width: 10vw;
    position: relative;
    background: #42B0FF;
    border: 0;
    border-color: #42B0FF 1rem;
    border-radius: 22px;
    color: #FFFFFF;
    text-shadow: 0 0 20px #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    align-self: center;
}

.login-btn:not([disabled]):focus {
    box-shadow: 0 0 .5rem #98f4f9, -.125rem -.125rem 1rem #98f4f9, .125rem .125rem 1rem rgba(66, 194, 255, 1);
}

.login-btn:not([disabled]):hover {
    box-shadow: 0 0 .5rem #aff0f4, -.125rem -.125rem 1rem #98f4f9, .125rem .125rem 1rem rgba(66, 194, 255, 1);
}

.page-link-login {
    display: flex;
    position: relative;
    justify-content: center;
    font-size: 0.85rem;
    font-family: 'inherit';
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    font-family: "Noto Sans Mono", monospace;
    padding: 1vh;
}

.page-link-login a {
    color: #42B0FF;
    text-decoration: none;
}

.page-link-login:not([disabled]):hover {
    text-decoration: underline;
    text-decoration-color: #42B0FF;
}

.create-account {
    display: flex;
    flex-direction: row;
    align-self: center;
    padding: 10px;
}

.create-account span {
    color: #999 !important;
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
}

.create-account .link-login {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #42B0FF;
    transform: scale(1.0);
    outline: none;
    margin-left: 5px;
}

/* * For 16 inch screens

@media screen and (max-width: 1920px) {

    .page-login {
        padding: 20% !important;
        margin: -20px;
        background-image: linear-gradient(to right, #37b0e8 50%, #EFFFFD 50%);
    }

    .page-title-login {
        margin-left: 86%;
    }

    .container-input-login {
        position: relative;
        margin-left: 500px;
    }

    .container-input-login input {
        width: 40%;
    }

    .container-input-login .icon-eye {
        color: #42B0FF;
        cursor: pointer;
        margin: -60px;
        margin-left: 105%;
        top: -50px;
        position: relative;
    }

    .page-link-login a {
        margin-left: 95%;
        white-space: nowrap;
    }

    .login-sign-in {
        margin-left: 87% !important;
    }

    .login-btn {
        height: 40% !important;
        width: 20%;
        margin: 0.1rem;
        margin-left: 76% !important;
    }

    .container-login {
        margin-top: 65px;
        margin-left: -15%;
    }
} */