@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    user-select: none;
}

.container-login {
    margin-top: 250px;
    margin-left: auto !important;
    margin-right: 0 !important;
    font-family: 'Poppins', sans-serif;
    margin-top: -40%;
}

.bg-banner {
    background-color: #42B0FF;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.banner-text {
    width: 90%;
    bottom: 40px;
    padding-left: 150px;
    margin-top: 40%;
}

.banner-text h2 {
    color: #fff;
    font-size: 45px;
    font-family: 'Pacifico', sans-serif;
}

.banner-text h2:after {
    content: " ";
    width: 380px;
    height: 4px;
    background: #FFF;
    display: block;
    margin-top: 20px;
    border-radius: 3px;
}

.banner-text p {
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
}

@media screen and (max-width: 1920px) {
    .container-login {
        margin-right: 0 !important;

    }
}

@media screen and (max-width: 1850px) {
    .container-login {

        margin-top: -50% !important;
    }

}

@media screen and (max-width: 1650px) {
    .container-login {
        margin-right: -5% !important;
        margin-top: -50% !important;
    }

    .banner-text {
        margin-top: 45%;
    }
}

@media screen and (max-width: 1550px) {
    .container-login {
        margin-right: -10% !important;
        margin-top: -55% !important;
    }

    .banner-text {
        margin-top: 55%;
    }
}

@media screen and (max-width: 1350px) {
    .container-login {
        margin-right: -15% !important;
        margin-top: -65% !important;
    }

    .banner-text {
        margin-top: 75%;
    }
}

@media screen and (max-width: 1150px) {
    .container-login {
        margin-right: -20% !important;
        margin-top: -75% !important;
    }

    .banner-text h2 {
        font-size: 40px;
    }

    .banner-text h2:after {
        width: 300px;
    }
}

@media screen and (max-width: 991px) {
    .container-login {
        margin-right: 12% !important;
        margin-top: -100% !important;
    }

    .bg-banner {
        background-color: transparent;
        color: transparent;
    }

    .banner-text h2 {
        color: transparent;
    }
}

@media screen and (max-width: 767px) {
    .container-login {
        margin-right: 15% !important;
        margin-top: 35% !important;
    }
}

.container-input-login input {
    color: rgb(37, 37, 37);
    font-family: 'Poppins', sans-serif !important;
    height: 60px;
    border-radius: 15px;
    outline: 0;
}

.container-input-login input:not(:placeholder-shown)+label {
    transform: translateY(-14px) scale(.8);
}

.container-input-login input:focus {
    border-color: #42B0FF;
}

.container-input-login input:focus+label {
    border-color: #42B0FF;
}

.page-title-login {
    color: #42B0FF;
    text-align: center;
}

.login-password-input {
    position: relative;
    margin-bottom: 15px;
}

.login-icon-eye {
    color: #42B0FF;
    font-size: 18px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    cursor: pointer;
}

.page-login-btn button {
    width: 100%;
    background: #42B0FF;
    border: 0;
    border-radius: 22px;
    color: #FFFFFF;
    text-shadow: 0 0 20px #fff;
    cursor: pointer;
    font-family: -apple-system, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 2.5;
    outline: transparent;
    padding: 0.2rem 1rem;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}


.page-link-login {
    font-size: 14px;
    font-family: 'inherit';
    font-family: "Noto Sans Mono", monospace;
    text-align: right;
    margin-top: 6px;
    margin-right: 10px;
}

.page-link-login a {
    color: #42B0FF !important;
    text-decoration: none;
}

.page-link-login:not([disabled]):hover {
    text-decoration: underline;
    text-decoration-color: #42B0FF;
}

.create-account div {
    color: #999 !important;
    font-size: 15px;
    cursor: initial;
    margin-top: 15px;
}

.create-account a {
    cursor: pointer;
    font-size: 7px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: #42B0FF;
    transform: scale(1.0);
    outline: none;
}

.custom-modal {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    width: 90%;
    max-height: 80vh;
    overflow: auto;
}

.modal-content {
    background-color: white;
    border: 2px solid #85F4FF !important;
    border-radius: 15px !important;
    padding: 20px;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.modal-title {
    margin: 0;
}

.modal-body {
    margin-bottom: 20px;
}

.modal-body input {
    color: rgb(37, 37, 37);
    font-family: 'Poppins', sans-serif !important;
    height: 60px;
    border-radius: 15px;
    outline: 0;
    border: #e1e0e0 2px solid;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
}