.square-title {
    font-family: 'Poppins', sans-serif;
    font-weight: none;
}

.squares-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    width: 100%;
}

.square {
    height: 340px;
    width: 20%;
    background-color: #42B0FF;
    font-family: 'Inter', sans-serif;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
}

.square img {
    display: block;
    width: 95%;
    height: 55%;
    object-fit: contain;
}

.square h2 {
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin-bottom: 9px;
}

.square p {
    color: white;
    text-align: left;
    font-size: 16px;
    margin-left: 14px;
    margin-top: 6px;
}