.button-text {
    color: #ffffff;
    text-decoration: none;
    vertical-align: middle;
}

.personal-roadmap-content {
    margin: 20px;
}

.personal-roadmap-buttons {
    margin-top: 20px;
}

.personal-roadmap-buttons button {
    margin: 1rem;
    font-size: 20px;
    border-radius: 12px;
}