.roadmapBox {
  background-color: #2698ea;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-color: #000000;
  border-radius: 3%;
}

.title {
  font-size: 20px;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}

p.title {
  font-size: 16px;
  font-weight: 400;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}

.roadmapInformation {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}

h2.roadmapInformation {
  font-size: 18px;
  font-weight: 600;
}

p.roadmapInformation {
  font-size: 14px;
  font-weight: 400;
}

.image {
  max-width: 40%;
  border-radius: 3%;
}