@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.square-title {
    margin-top: 70px;
    margin-left: 80px;
    font-family: 'Poppins', sans-serif; 
    font-weight: none;
}

.map-title{
    margin-top: 12px;
    margin-left: 80px;
    font-family: 'Poppins', sans-serif; 
    font-weight: none;
}

.squares-container {
    display: flex;
}

.square {
    
    height: 340px;
    background-color: #42B0FF;
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    align-items: center;
    margin: 20px;
    margin-left: 20px;
}

.square img {
    display: block;
    width: 94%;
    height: 57%;
    
}

.square h2 {
    font-weight: bold;
    color: white;
    font-size: 22px;
    margin-bottom: 9px;
}

.square p {
    color: white;
    text-align: left;
    font-size: 16px;
    margin-left: 14px;
    margin-top:6px;
}

@media screen and (max-width: 1650px) {
    .links_list li a {
        padding: 1em 1em;
    }
}