@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

/** Main Input Style */
.page-input-edit {
    margin: 5%;
    margin-top: 130px;
    margin-left: 3%;
}

.page-input-edit input {
    width: 20%;
    height: 30px;
    margin-top: -8px !important; 
    margin: 1.0rem auto;
    padding: 1rem;
    display: grid;
    border: 3px solid transparent;
    margin-bottom: -2px;
    margin-left: 22%;
    border-radius: 26px;
    font-size: 1rem;
    box-shadow: 0 0 0 3px #cccccc, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
    font-family: 'Poppins', sans-serif;
    outline: 0;
}

.page-input-edit  h3 {
    font-size: 15px;
    color: rgb(43, 43, 43);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    margin-top: 20px;
    margin-left: 22% !important;
}

.page-input-edit input:hover {
    box-shadow: 0 0 0 3px #b0b0b0, 0 2px 4px 0 rgb(0 0 0 / 7%), 0 1px 1.5px 0 rgb(0 0 0 / 5%);
}



/* CSS */
.edit-btn {
  backface-visibility: hidden;
  background: #42B0FF;
  border: 0;
  top: -80px;
  border-radius: 16px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,Helvetica,sans-serif;
  font-size: 1.125rem;
  font-weight: 700;
  letter-spacing: -.01em;
  line-height: 1.3;
  padding: 1rem 1.25rem;
  position: relative;
  margin-left: 30.5%;
  text-align: left;
  text-decoration: none;
  transform: translateZ(0) scale(1);
  transition: transform .2s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.edit-btn:disabled {
  color: #787878;
  cursor: auto;
}

.edit-btn:not(:disabled):hover {
  transform: scale(1.05);
}

.edit-btn:not(:disabled):hover:active {
  transform: scale(1.05) translateY(.125rem);
}

.edit-btn:focus {
  outline: 0 solid transparent;
}

.edit-btn:focus:before {
  border-width: .125rem;
  content: "";
  left: calc(-1*.375rem);
  pointer-events: none;
  position: absolute;
  top: calc(-1*.375rem);
  transition: border-radius;
  user-select: none;
}

.edit-btn:focus:not(:focus-visible) {
  outline: 0 solid transparent;
}

.edit-btn:not(:disabled):active {
  transform: translateY(.125rem);
}


.icon-eye-edit {
    color: #42B0FF;
    margin-left: 42%;
    top: -40px;
    position: relative;
}