.roadmap-card {
    height: 50vh;
    width: 30vw;
    margin: 10px;
    font-family: 'Inter', sans-serif;
    display: flex;
    flex-direction: column;
    border: 1px solid #9a9a9a;
}

.roadmap-card img {
    display: block;
    height: 65%;
    object-fit: cover;
    border-bottom: 1px solid rgb(127, 127, 127);
}

.roadmap-card-information {
    padding: 1vw;
    overflow-y: hidden;
}

.roadmap-card-information h2 {
    font-weight: bold;
    color: black;
    font-size: 22px;
    margin-top: 6px;
}

.roadmap-card-information p {
    color: black;
    text-align: left;
    font-size: 16px;
    max-width: 100%;
    word-wrap: break-word;
    margin-bottom: 1vw;
    -webkit-line-clamp: 3;
}