.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: 0.4em 2em;
  }
  
  .brand {
    font-size: 1.2em;
  }
  
  .brand span {
    font-weight: 900;
    text-transform: uppercase;
    color: #ff7019;
  }
  
  .links_list {
    display: flex;
    list-style: none;
  }
  
  .links_list li {
    margin-right: 1em;
  }
  
  .links_list li a {
    padding: 1em 2em;
  }
  
  .logo {
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .logo img  {
    width: 35px;
    height: 35px;
    margin-right: 15px;
  }
  
  .active {
    background-color: rgb(255, 103, 8);
    color: #fff;
    border-radius: 10px;
    font-weight: bold;
  }
  
  .active:hover{
     color: rgb(255, 255, 255);
     text-shadow: 0 0 4px #fff;
  }
  
  .icon{
    margin-top: -30px;
  }