@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

.map-container {
  display: flex;
  margin-left: 5%;
  margin-top: 30px;
  border-radius: 50px;
  justify-content: center;
}

.column-container h2 {
  top: 2px;
}

.map-options {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  width: 50%;
  padding: 0;
  margin: 0;
  margin-right: 55%;
  margin-top: -10px;
  list-style: none;
}

.map-options li {
  background-color: #42B0FF;
  color: white;
  border-radius: 40px;
  padding: 18px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}

.map-options li:hover {
  background-color: #85F4FF;

}

.map {
  margin-top: 40px;
}